@page
@model WebApplication3.Pages.Login2faModel
@{
}
<div class="container mt-5">
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script>
        function onSubmit(token) {
            document.getElementById("demo-form").submit();
        }
    </script>

    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Enter the 2FA code</h1>

            <form method="post" asp-antiforgery="true" id="demo-form">

                <div class="mb-3">
                    <label class="form-label" asp-for="Code">Code</label>
                    <input type="text" asp-for="Code" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <button class="btn btn-primary g-recaptcha"
                            data-sitekey="6Le5f1EpAAAAAC2kgnd9hKHkdLEVfZlEZlgpLn21"
                            data-callback='onSubmit'
                            data-action='submit'>
                        Enter Code
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
