@page
@model WebApplication3.Pages.ResetPasswordConfirmationModel
@{
}
<div class="row justify-content-center align-items-center">

	<div class="col-sm-12 col-md-12 col-lg-4">
		<h1 class="mb-3">Change Password </h1>

		<form method="post" asp-antiforgery="true">

			<div class="mb-3">
				<label class="form-label" asp-for="ResetPassword.NewPassword">New Password</label>
				<input type="password" asp-for="ResetPassword.NewPassword" class="form-control" />
				<span asp-validation-for="ResetPassword.NewPassword" class="text-danger"></span>
			</div>

			<div class="mb-3">
				<label class="form-label" asp-for="ResetPassword.ConfirmNewPassword">Confirm Password</label>
				<input type="password" asp-for="ResetPassword.ConfirmNewPassword" class="form-control" />
				<span asp-validation-for="ResetPassword.ConfirmNewPassword" class="text-danger"></span>
			</div>

			<div class="col-md-12">
				<div class="mb-3 text-center">
					<button type="submit" class="btn btn-primary">Reset Password</button>
				</div>
			</div>
		</form>
	</div>
</div>
