@page
@model WebApplication3.Pages.errors._403Model
@{
    ViewData["title"] = "Access Forbidden";
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">403</h1>
    <p style="font-size: 50px; ">Access Forbidden</p>
    <p>You do not have permission to access this resource. Please contact the administrator if you believe this is in error.</p>
    <p>Return to <a href="https://localhost:7175/Login">Login</a></p>
</div>
