@page
@model WebApplication3.Pages.errors._500Model
@{
    ViewData["title"] = "Internal Server Error";
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">500</h1>
    <p style="font-size: 50px; ">Internal Server Error</p>
    <p>Oops! Something went wrong on our server. We are working to fix the issue.</p>
    <p>Please try again later or contact support if the problem persists.</p>
    <p>Return to <a href="https://localhost:7175/Login">Login</a></p>
</div>
