@page
@model WebApplication3.Pages.errors._503Model
@{
    ViewData["title"] = "Service Unavailable";
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">503</h1>
    <p style="font-size: 50px; ">Service Unavailable</p>
    <p>Sorry, the service is temporarily unavailable due to maintenance.</p>
    <p>We appreciate your patience. Please check back later.</p>
    <p>Return to <a href="https://localhost:7175/Login">Login</a></p>
</div>
