@page
@model WebApplication3.Pages.errors._504Model
@{
    ViewData["title"] = "Gateway Timeout";
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">504</h1>
    <p style="font-size: 50px; ">Gateway Timeout</p>
    <p>The server is taking too long to respond. This may be due to a temporary network issue.</p>
    <p>Please try again later or contact support if the problem persists.</p>
    <p>Return to <a href="https://localhost:7175/Login">Login</a></p>
</div>
